spring:
  config:
    activate:
      on-profile: prod
  
  datasource:
    url: jdbc:mysql://localhost:3306/watchid?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:watchid_user}
    password: ${DB_PASSWORD:changeme}
  
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  
  h2:
    console:
      enabled: false

logging:
  level:
    com.watchid: INFO
    org.springframework.web: INFO
